---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Montserrat';
  src: url('{{ "../assets/Montserrat-ExtraBold.ttf" | relative_url }}') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('{{ "../assets/Montserrat-Light.ttf" | relative_url }}') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; 
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(92,181,95);
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
}

ol {
  margin-left: 30px;
}

ol > li {
  margin-bottom: 15px; 
}

ol > li > ol,
ol > li > ul,
ul > li > ol,
ul > li > ul {
  margin-bottom: 0; 
}

.styled-table table, 
table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.styled-table th, 
.styled-table td, 
th, 
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.styled-table th, 
th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f1f1f1;
}

.content-with-image {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content-with-image .text-content {
  flex: 1;
  padding-right: 20px;
}

.content-with-image .image-content {
  flex: 0 0 300px; 
  display: contents;
}

.content-with-image .image-content svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .content-with-image {
    flex-direction: column;
    align-items: center;
  }

  .content-with-image .text-content {
    padding-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .content-with-image .image-content {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
  }

  .content-with-image .image-content svg {
    max-width: 50%;
  }

  .content-with-image .first-image svg {
    transform: translateX(25%);
  }

  .content-with-image .second-image svg {
    transform: translateX(80%);
  }

  /* Table responsiveness for mobile devices */
  .styled-table, table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }

  .styled-table th, 
  .styled-table td, 
  th, 
  td {
    white-space: nowrap; /* Prevent text wrapping */
  }
}
